
.container {
  background: lightgrey;
  margin-right: 0px;
  margin-left: 0px;
}

#grey_background {
  background-color: #D3D3D3;
}

#white_button {
  color: white;
}
.box {
  height: 650px;
  padding: 20px;
  color: #fff;
  margin: 0px;
  background: white;
}

#navbar (max-width: 480px) {
  color: pink;
}

#small_title {
  color: teal;
  font-family: times;
  font-weight: bold;
  font-size: 3.0vw;

}

#small_title {
  color: teal;
  font-family: times;
  font-weight: bold;
  font-size: 2.5vw;

}

.p {
  color: black;
}

.black-para {
  color: black;
}

#lat {
  background: purple;
  color: white;
  padding: 5px;
}

.margin-top-80 {
  margin-top: 80px;
}

.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#PurpleLine {
  background: purple;
  padding: 0px;
  height: 10px;
  margin: 0px;
  border: 0px;

}

#better_button{
  background-color: #f8f8f8;
}

#image_1 {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#image_2 {
    max-width: 40%;
    height: auto;
    width: auto\9; /* ie8 */
}

h6 {
	background: grey;
	padding: 20px;
	color: white;
  text-align: center;
  position: relative;
  margin: 0px;
  margin-right: -15px;
  margin-left: -15px;
}